# Secrets
.env

# Workspace and temporary files
workspace/raw_material/*
workspace/generated_exams/*
!workspace/raw_material/.gitkeep
!workspace/generated_exams/.gitkeep

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Logs
*.log
